


/* @media only screen and (min-width: 1400px) { */
    
body {
    background-color: mintcream;
    margin: 0;
    width: 100%;
}

.bg-img {
    align-self: center;
    height: 40rem;
    width: 100%;
}

.avni {
    margin: 2rem 0 0 20rem;
    font-family: ravie, fantasy;
    font-size: 3em;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 3rem;
}

h1 {
    margin: 0;
    margin-left: 22rem;
    font-family: ravie, fantasy;
}

.icon-pic {
    position: absolute;
    margin: 2rem;
    size: 20%;

}
.tbar {
    position: fixed;
    background-color: mintcream;
    height: 4rem;
    width: 100%;
}

.white {
    height: 6rem;
}

p {
    margin: 0;
    text-align: center;
    font-size: xxx-large;
    font-family: Bradley Hand ITC, cursive;
}

.footer {
    font-weight: normal;
    text-align: center;
    margin: 0;
    font-size: large;
}
    
/* } */


    
/* *********************   contact details page  ******************* */


.container {
    position: relative;
    /* border: solid 5px; */
    display:inline-block;
    width: 49.5%;
    height: 70%;
}

.contact {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Times New Roman', serif;
}

input {
    background-color: whitesmoke;
}
textarea {
    background-color: whitesmoke;
}

A:hover {
    background-color: white;
}


