
body {
    background-color: mintcream;
    margin: 0;
    /* display: flexbox; */
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    
}

.bg-img {
    margin: 0;
    align-self: center;
    height: 42vw;
    width: 100%;
}
p{margin: 0;}

.main {
    position: absolute;
    top: 23vw;
    left: 20%;
    margin: 0;
    text-align: center;
    font-size: 3.3vw;
    font-family: Bradley Hand ITC, cursive;
}

.avni {
    margin: 2rem 0 0 20%;
    font-family: ravie, fantasy;
    font-size: 3.2vw;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 2.2vw;
}

h1 {
    margin: 0;
    font-size: 2.1vw;
    font-family: ravie, fantasy;
}

h2 {
    text-decoration: wavy underline;
    text-underline-offset: 1vw;
    margin: 1vw;
    font-family: ravie, fantasy;
    color: #FB2576;
    text-align: center;
    font-style: italic;
    font-size: 2vw;
}

.icon-pic {
    position: absolute;
    margin: 0 2vw;
    width: 19%;
    height: auto;

}
.links {
    left: 24%;
    position: relative;
    display: inline;
    width: 10%;
    height: auto;
}
.tbar {
    position: absolute;
    background-color: mintcream;
    height: 4rem;
    width: 100%;
}

.white {
    height: 6rem;
}

.footer {
    font-weight: normal;
    text-align: center;
    margin: 0;
    font-size: large;
}
    

A:hover {
    background-color: white;
}

td{display: inline-block;}

hr {
    outline-style: dotted;
    align-self: center;
    width: 80vw;
    /* color: #009EFF; */
    color: #97DECE;
    border-style: none;
    
}

/* ////////////////////       DIGITAL       ///////////////////////// */

details {
    color: #4B56D2;
    font-size: 1.5vw;
    margin-left: 2vw;
    font-family: 'Times New Roman', Times, serif;
}

summary{    
    color: #FB2576;
}

ul {
    list-style-type: circle;
}


A:hover {
    background-color: white;
}

.img {
    margin: 1vw;
    margin-left: 2vw;
    display: inline;
    height: 12vw;
    width: auto;
    border-style: double;
    border-width: 8px;
}

iframe {
    height: 12vw;
    width: auto;
    
    margin: 1vw;
    margin-left: 2vw;
    border-style: double;
    border-width: 8px;
}